{% extends "base.html" %}

{% block content %}
  <article class="container">
    <ul class="breadcrumb">
      <li class="breadcrumb-item active">Instruction</li>
    </ul>

    <h1>{{ object|title }}</h1>

    <section class="row">
      <p>
        This instruction has {{ object.hair_sample_count }} hair samples.
      </p>
    </section>

    <h2>Collections</h2>

    <section class="row">
      <ul>
        {% for collection in object.collection_set.all %}
          <li>
            <a href="{% url 'forensic:collection_detail' collection.pk %}">
              {{ collection|capfirst }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </section>
  </article>
{% endblock %}
