{% extends "base.html" %}

{% block content %}
  <article class="container">
    <ul class="breadcrumb">
      <li class="breadcrumb-item active">Instruction Group</li>
    </ul>

    <h1>{{ object.name }}</h1>

    <section class="row">
      <p>
        This instruction Group has {{ object.instruction_count }} instructions.
      </p>
    </section>

    <h2>Instructions</h2>

    <section class="row">
      <ul>
        {% for instruction in object.instruction_set.all %}
          <li>
            <a href="{% url 'forensic:instruction_detail' instruction.pk %}">
              {{ instruction|capfirst }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </section>
  </article>
{% endblock %}
